/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset */

.wrapper {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(8, 1fr);

    background-color: #ffffff;
    width: 100%;
    height: 100vh;
}

.dashboard {
    display: flex;
    gap: 5rem;
    overflow: scroll;
    flex-direction: column;
    justify-content: flex-start;

    background: cyan;
    border: 2px solid rgb(133, 97, 97);
    grid-area: 1 / 1 / 9 / 4;
}

.dashboard > * {
    border: 1px solid black;
}

.dashboard .content-2 {
    margin-top: auto;
}

.dashboard .content-2 > *{
    border: 1px solid black;
    padding: 1rem;
}

.dashboard .content-1 > *{
    border: 1px solid black;
    padding: 1rem;
}

.dashboard .title {
    padding: 1rem;
    border: 2px solid black;
}

.icon-text-container {
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    border: 1px solid black;
}

.navbar {
    background: #22b811;
    grid-area: 1 / 4 / 2 / 21;
}

.main-content {
    background: #a2064f;
    grid-area: 2 / 4 / 9 / 21;
}