/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of reset */


.wrapper {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(8, 1fr);

    background-color: #ffffff;
    width: 100%;
    height: 100vh;
}

/* dashboard start */
.dashboard {
    display: flex;
    gap: 5rem;
    overflow: scroll;
    flex-direction: column;
    justify-content: flex-start;

    background: #EA4C89;
    grid-area: 1 / 1 / 9 / 4;
}

.dashboard > * {
    border: 1px solid rgb(195, 220, 9);
    display: flex;
    flex-direction: column;
}

.dashboard h1, span {
    color: white;
}

.dashboard .content-2 {
    margin-top: auto;
}

.dashboard > * > * {
    border: 1px solid black;
    padding: 1rem;
}

.dashboard > * > *:hover{
    background: #f472b6;
    cursor: pointer;
}

.icon-text-container {
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    border: 1px solid black;
}
/* dashboard end */



/* navbar start */
.navbar {
    background: #3730a3;
    grid-area: 1 / 4 / 2 / 21;
    overflow: auto;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.navbar > * {
    border: 1px solid rgb(220, 9, 202);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.search{
    grid-area: 1 / 1 / 2 / 4;
    gap: 0.5rem;
    padding-left: 1rem;
}

.search span{
    cursor: pointer;
}

.search input[type="search"] {
    width: 300px; /* Adjust the width as desired */
    height: 40px; /* Adjust the height as desired */
    padding: 0.5rem;
    font-size: 16px; 
    background-color: #f2f2f2;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search input[type="search"]:focus {
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.profile {
    grid-area: 1 / 7 / 2 / 11;
    gap: 0.5rem;
    background-color: white;
    border-radius: 10px;
}

.profile span {
    margin-left: 3rem;
    color: black;
}

.profile span:hover {
    cursor: pointer;
}

.navbar .buttons {
    grid-area: 2 / 6 / 3 / 11;
    justify-content: space-evenly;
}

.navbar img {
    max-height: 45px;
}

.header-message {
    grid-area: 1 / 4 / 2 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-message {
    grid-area: 2 / 1 / 3 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}

.navbar-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: #EA4C89;
}

.chart-logo {
    grid-area: 2 / 5 / 3 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-logo span{
    color: white;
}


/* navbar end */


/* main content start */
.main-content {
    background: #1e1b4b;
    grid-area: 2 / 4 / 9 / 21;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.main-content > * {
    border: 1px solid rgb(9, 220, 9);
}

.main-content > * > * {
    border: 1px solid rgb(220, 210, 9);
}

.main-content h1 {
    color: white;
}

.projects {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    flex-direction: column;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: #3730a3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* main content end */



/* sourced content */
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover{
  background-color: #F082AC;
}